.text-input {
    position: relative;
    margin: 0rem;
    padding: 1.5rem;
}

.text-input label {
    position: absolute;
    bottom:0px;
    left:10%;
    z-index: 400;
    font-size: 1.25rem;
    font-weight: 400;
    transition: 1s;
    transform: scale(1);   
}

.text-input > .focused {
    font-weight: 700;
    transform: translate(-20%,-110%) scale(0.7);
    transition: 1s;
}

.text-input input {
    position: absolute;
    bottom:0px;
    left:50%;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: solid 1px #e8e8e8;
    color: #e8e8e8;
    font-size: 1rem;
    z-index: 840;
    width: 80%;
    transform: translate(-50%,0%);
    font-size: 1.25rem;
}

.text-input input:focus {
    outline:none;
}