.card-set {
    position: relative;
    border: solid 1px #e8e8e8;
    border-radius: 25px;
    padding: 1rem;
    margin-bottom: 1rem;

    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    max-width: 300px;

}

.card-set > div > div > div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-set>details>summary {
    list-style: '+';
    list-style-position: inside;
}

.card-set-controls {
    position: relative;
    width: 50%;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}

.delete-card-set {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #008080;
    width: 48px;
    height: 48px;
    border: solid #e8e8e8 1px;
    color: #e8e8e8;
    border-radius: 50px;
}

.accordion-title {
    position: relative;
}

.accordion-toggle {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 38px;
    left: 0px;
    transform: translate(0px, 0%);
}

.accordion-toggle-icon {
    width: 50px;
    height: 50px;
    transform: rotate(-180deg);
}

.accordion-toggle-open {
    transform: rotate(-90deg);
}

.accordion-content {
    height: 0px;
    transition: 1.5s;
    margin-bottom: 1rem;
    overflow: hidden;
    width:100%;
}

.accordion-open {
    
    transition: 1.5s;
    width:100%;
    height: 350px;
}

.cardset-controls{
    display: flex;
    justify-content: space-evenly;
}

.add-card, .edit-card-set-info {
    background-color: #008080;
    height: 48px;
    border: solid #e8e8e8 1px;
    color: #e8e8e8;
    border-radius: 50px;
    padding: 1rem;
}


/* #add-card>button {
    padding: 1rem;
    border: solid 1px #e8e8e8;
    border-radius: 50px;
    display: block;
    margin: 1rem auto 1rem auto;
    background-color: #008080;
    color: #e8e8e8;
    font-size: 11pt;
} */

#add-card-modal , #delete-card-modal {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 800;
}

#add-card-modal.open, #delete-card-modal.open {
    display: block;
}

#add-card-modal-window {
    position: fixed;
    top: 96px;
    left: 50%;
    height: 65vh;
    min-width: 250px;
    max-width: 500px;
    padding: 1rem;
    transform: translate(-50%, -0%);
    border: solid 1px #e8e8e8;
    border-radius: 25px;
    background-color: #2e3131;
    z-index: 800;
}



#delete-card-modal-window {
    position: fixed;
    top: 30vh;
    left: 50%;
    height: 30vh;
    min-width: 250px;
    max-width: 500px;
    padding: 1rem;
    transform: translate(-50%, -0%);
    border: solid 1px #e8e8e8;
    border-radius: 25px;
    background-color: #2e3131;
    z-index: 800;
}

#add-card-modal-close, #delete-card-modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #008080;
    border: solid 1px #e8e8e8;
    border-radius: 50px;
    color: #e8e8e8;
    width: 50px;
    height: 50px;
    padding: 0.5rem;
}

#add-card-modal-content, #delete-card-modal-content {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 70%;
    width: 100%;
}

#delete-card-modal-content > p {
    text-align: center;
}

#add-card-modal-action, #delete-card-modal-action {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    position: absolute;
    width: 100%;
    bottom: 0rem;
    left: 50%;
    transform: translate(-50%, 0%);
}

#add-card-modal-affirm, #delete-card-modal-affirm {
    background-color: #008080;
    border: solid 1px #e8e8e8;
    border-radius: 50px;
    color: #e8e8e8;
    padding: 1rem;
    margin: 1em;
    width: 96px;
    height: 48px;
    font-size: 1rem;
}

#add-card-modal-cancel, #delete-card-modal-cancel {
    background-color: #008080;
    border: solid 1px #e8e8e8;
    border-radius: 50px;
    color: #e8e8e8;
    padding: 1rem;
    margin: 1em;
    width: 96px;
    height: 48px;
    font-size: 1rem;
}






#addcard {
    position: relative;
    height: 100%;
}

.add-card-form {
    /* position: relative;
    height: 100%;
    perspective: 1000px; */

    height: 100%;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.add-card-form-2 {
    height: 75%;
    /* border: solid 1px #e8e8e8; */
    width: 90%;
    transform: translate(5%, 0%);

    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

.flipped .add-card-form-2 {
    transform: rotateY(180deg) translate(-5%, 0%);


}


.add-card-front,
.add-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #008080;
    border-radius: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.add-card-back {
    transform: rotateY(180deg);
}

.add-card-front>textarea,
.add-card-back>textarea {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 80%;
    border-radius: 25px;
    background-color: #2e3131;
    color: #e8e8e8;
    font-size: 16px;
    padding: 1rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    resize: none;
}

.noFocus {
    position: absolute;
    top: 15%;
    left: 10%;
    transform: translate(0%, 0%);
    z-index: 875;
    font-size: 22px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: 0.5s linear;
    font-weight: 500;
}

.inFocus {
    position: absolute;
    top:5%;
    left:5%;
    transform: translate(0%, 0%);
    z-index: 875;
    font-size: 14px;
    font-weight: 900;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: 0.5s linear;
}

.switch-container {
    display: inline;
    position: absolute;
    left: 50%;
    bottom: 10px;
    z-index: 970;
    border-radius: 50px;
    user-select: none;
    overflow: hidden;
    transform: translate(-50%, 0%);
}

.switch {
    position: relative;
    width: 96px;
    height: 48px;
    background-color: #e8e8e8;
    border: solid #e8e8e8 3px;
    border-radius: 50px;
    overflow: hidden;
    z-index: 940;
}

.switch-toggle {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0%, -50%);
    width: 48px;
    height: 48px;
    border: solid #e8e8e8 3px;
    border-radius: 50px;
    z-index: 970;
    background-color: #008080;
}



.switch-toggle-off {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(-3%, -50%);
    width: 99px;
    height: 48px;
    background-color: #008080;
    /* border: solid #e8e8e8 3px; */
    border-radius: 50px;
    z-index: 950;
    transition: 0.25s linear;


}

.switch-toggle-on {
    position: absolute;
    top: 50%;
    left: 46px;
    transform: translate(0%, -50%);
    width: 96px;
    height: 48px;
    background-color: #008080;
    /* border: solid #e8e8e8 3px; */
    border-radius: 50px;
    z-index: 950;
    transition: 0.25s linear;


}

.switch-front {
    position: absolute;
    top: 0%;
    right: 5%;
    transform: translate(0%, -12%);
    color: #e8e8e8;
    font-weight: bold;
    z-index: 985;
}

.switch-back {
    position: absolute;
    top: 0%;
    left: 8%;
    transform: translate(0%, 12%);
    color: #008080;
    font-weight: bold;
    z-index: 945;
}





.cardList {
    
    height: 375px;
    overflow-y: scroll;
}




#edit-set-modal {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 800;
}

#edit-set-modal.open {
    display: block;
}

#edit-set-modal-window {
    position: fixed;
    top:50%;
    left:50%;
    min-width: 250px;
    max-width: 500px;
    padding: 1rem;
    transform: translate(-50%,-50%);
    border: solid 1px #e8e8e8;
    border-radius: 25px;
    background-color: #2e3131;
}

#edit-set-modal-close {
    position: absolute;
    top:5px;
    right: 5px;
    background-color: #008080;
    border: solid 1px #e8e8e8;
    border-radius: 50px;
    color: #e8e8e8;
    width: 50px;
    height:50px;
    padding: 0.5rem;
}

#edit-set-modal-content {
    margin-top: 50px;
}

#edit-set-modal-action {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

}

#edit-set-modal-affirm {
    background-color: #008080;
    border: solid 1px #e8e8e8;
    border-radius: 50px;
    color: #e8e8e8;
    padding: 1rem;
}

#edit-set-modal-cancel {
    background-color: #008080;
    border: solid 1px #e8e8e8;
    border-radius: 50px;
    color: #e8e8e8;
    padding: 1rem;
}

